.bg {
  border-image-source: url("../../Assets/border-yellow.png");
  border-image-slice: 15% fill;
  border-image-width: 19px;
  border-image-repeat: repeat stretch;
  border-image-outset: 0;
  border-color: transparent;
  color: white;
  padding: 20px;
  overflow-y: scroll;
}
