.circle {
  width: 160px;
  height: 160px;
  background: url("./../../Assets/scope.png");
  background-size: cover;
  position: relative;
  /* left: -100px; */
}

.progress {
  position: absolute;
  color: white;
  left: 68px;
  top: 48px;
  font-size: 24px;
}

.label {
  position: absolute;
  color: #ffffff;
  width: 100px;
  left: 40px;
  bottom: -8px;
  font-size: 24px;
  letter-spacing: 2px;
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
}

@keyframes pulse {
  0% {
    text-shadow: 0px 0px 0px #00ffff;
  }
  50% {
    text-shadow: 2px 2px 20px #00ffff;
  }

  100% {
    text-shadow: 0px 0px 0px #00ffff;
  }
}
