@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.font-electrolize {
  font-family: "Electrolize", sans-serif;
}

* {
  font-family: "Electrolize", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2696e7;
  border: 0px double #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2696e7;
}
::-webkit-scrollbar-thumb:active {
  background: #050505;
}
