/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #bb430e */
  --main: #559cc5;
}

.text-main {
  color: var(--main);
}

.border-r-main {
  border-color: var(--main);
}

.marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .marker-icon {
  width: 40px;
  height: 40px;
  border: 1px solid yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  color: white;
} */

.marker-icon-2 {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
  transition: 0.4s;
  left: 0px;
}

.marker-icon-2::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url("./Components/Scene/circle1.png");
  background-size: cover;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marker-text {
  position: relative;
  width: 200px;
  font-size: 10px;
  padding: 0px;
  border: 1px solid var(--main);
  transform: scale(1, 0);
  margin-top: 10px;
  background-color: transparent;
  border-radius: 0px;
  border-image-source: url("./Assets/btn.png");
  border-image-slice: 45% fill;
  border-image-width: 19px;
  border-image-repeat: repeat stretch;
  border-image-outset: 0;
  border-color: transparent;
  /* padding: 5px 10px; */
  color: cyan !important;
  font-size: 12px;
  transition: 0.4s;
  cursor: pointer;
  z-index: 5;
}

.marker:hover .marker-text {
  transform: scale(1, 1);
}

.marker:hover .marker-icon-2 {
  left: -147px;
  top: 7px;
}

.marker:hover .marker-text::after {
  left: -80px;
  top: -57px;
}

.marker-text::after {
  position: absolute;
  content: "";
  top: -64px;
  left: calc(50% - 32px);
  z-index: 0;
  width: 80px;
  height: 80px;
  background: url("./Components/Scene/active.png");
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  transition: 1s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spike {
  position: relative;
}
.spike::after {
  display: inline-block;
  width: 4px;
  position: absolute;
  content: "";
  height: 20px;
  background-color: white;
  transform: skew(-45deg);
  top: 4px;
  left: -15px;
  box-shadow: 0 0 12px 2px rgb(255 255 255), 0px 0px 5px 1px rgb(250 250 2);
}

.loader {
  width: 150px;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  /* pointer-events: none; */
}

.point .label {
  position: absolute;
  top: -60px;
  left: -52px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0, 0);
  transition: 0.3s;
}

.marker-left::after {
  position: absolute;
  content: "";
  top: -65px;
  left: -55px;
  width: 60px;
  height: 60px;
  background: url("./../src/Components/Mars/scope2.png");
  background-size: cover;
}

.marker-right::after {
  position: absolute;
  content: "";
  top: -65px;
  right: -77px;
  width: 80px;
  height: 80px;
  background: url("./../src/Components/Mars/marker-right.png");
  background-size: cover;
}

/* .marker-left::after {
  position: absolute;
  content: "";
  top: -45px;
  left: -56px;
  width: 80px;
  height: 80px;
  background: url("./../src/Components/Mars/marker-left.png");
  background-size: cover;
}

.marker-right::after {
  position: absolute;
  content: "";
  top: -45px;
  right: -56px;
  width: 80px;
  height: 80px;
  background: url("./../src/Components/Mars/marker-right.png");
  background-size: cover;
} */

/* .point .label::after {
  position: absolute;
  content: "";
  top: -14px;
  left: -14px;
  width: 80px;
  height: 80px;
  background: url("./Components/Scene/active.png");
  background-size: cover;
} */

.point .text {
  position: absolute;
  z-index: 10;
  top: -60px;
  left: 10px;
  width: 100px;
  padding: 10px;
  border-radius: 2px;
  /* background: #00000077; */
  backdrop-filter: blur(8px);
  border: 1px solid rgb(252, 211, 77);
  color: #ffffff;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.point:hover .text {
  opacity: 1;
}

.point.visible .label {
  transform: scale(1, 1);
}

/* 



 */

.marker-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -30px;
}

.marker-icon-3 {
  width: 40px;
  height: 40px;
  position: relative;
  left: 2px;
  top: -4px;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid red;
}

.marker-icon-3::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: url("./../src/Components/Mars/marker-left-2.png");
  background-size: cover;
  top: -1px;
  left: -5px;
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: url("./../src/Components/Mars/scope2.png");
  background-size: cover;
  position: relative;
  left: -42px;
  top: -20px;
}

.mark-icon {
  position: relative;
  left: -6px;
  top: -4px;
  color: white;
  cursor: pointer;
}
