/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #bb430e */
  --main: #559cc5;
}

.text-main {
  color: var(--main);
}

.border-r-main {
  border-color: var(--main);
}

.marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .marker-icon {
  width: 40px;
  height: 40px;
  border: 1px solid yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  color: white;
} */

.marker-icon {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
}

.marker-icon::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url("./Components/Scene/circle1.png");
  background-size: cover;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marker-text {
  position: relative;
  width: 200px;
  font-size: 10px;
  padding: 0px;
  border: 1px solid var(--main);
  transform: scale(1, 0);
  margin-top: 10px;
  /* backdrop-filter: blur(10px); */
  border-radius: 5px;
}

.marker:hover .marker-text {
  transform: scale(1, 1);
}

.btn {
  /* border: 4px solid #13d0ca; */
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  border-radius: 0px;
  border-image-source: url("./Assets/btn.png");
  border-image-slice: 45% fill;
  border-image-width: 19px;
  border-image-repeat: repeat stretch;
  border-image-outset: 0;
  border-color: transparent;
  /* padding: 5px 10px; */
  color: cyan !important;
  font-size: 12px;
  transition: 0.4s;
  filter: drop-shadow(0px 0px 0px cyan);
  position: relative;
  z-index: 5;
}

.btn::after {
  position: absolute;
  content: "";
  top: -64px;
  left: calc(50% - 32px);
  z-index: 0;
  width: 80px;
  height: 80px;
  background: url("./Components/Scene/active.png");
  background-size: cover;
}
